<md-fab-trigger>
  <md-button aria-label="add"
    data-ng-click="vm.openModal($event)"
    class="md-fab accent">
    <md-tooltip data-md-direction="left">
      Créer un ticket
    </md-tooltip>
    <md-icon>add</md-icon>
  </md-button>
</md-fab-trigger>
<md-fab-actions>
  <md-button aria-label="settings"
    class="md-fab md-raised md-mini">
    <md-tooltip data-md-direction="left">
      Paramètres du groupe
    </md-tooltip>
    <md-icon style="color: #5c5c5c">settings</md-icon>
  </md-button>
</md-fab-actions>
