<form flex
  name="loginForm"
  layout="row"
  layout-align="center center"
  data-ng-submit="vm.passwordLogin()">
  <md-card flex="33"
    flex-md="50"
    flex-sm="100">
    <md-card-content>
      <md-input-container>
        <label>Email</label>
        <input type="email"
          name="email"
          required
          data-ng-model="vm.email">
      </md-input-container>
      <md-input-container>
        <label>Mot de passe</label>
        <input type="password"
          name="password"
          required
          data-ng-model="vm.password">
      </md-input-container>
    </md-card-content>
    <div class="md-actions"
      layout="row"
      layout-align="center">
      <md-button type="submit"
        class="md-raised md-primary"
        data-ng-disabled="loginForm.$invalid">Connexion</md-button>
    </div>
  </md-card>
</form>
