<header class="nav-header">
  <a href="#/"
    class="logo">
    <img src="images/logo.png"
      alt="" />
    <h1>Working Room</h1>
  </a>
</header>
<md-list layout="column" layout-align="start center">
  <md-list-item><span>Les groupes</span></md-list-item>
  <md-list-item data-ng-repeat="group in vm.groups">
    <md-button class="md-primary" data-ui-sref="main.group">{{group.name}}</md-button>
  </md-list-item>
</md-list>
<div flex>
</div>
<md-list layout="column" layout-align="end center">
  <md-list-item>
    <md-button class="md-primary" data-ui-sref="main.profile">Profile</md-button>
  </md-list-item>
  <md-list-item>
    <md-button class="md-primary" data-ng-click="vm.unauth()">Déconnexion</md-button>
  </md-list-item>
</md-list>
