<div layout="row" layout-padding data-ng-show="vm.tickets">
    <md-card style="height: 150px;" layout-padding layout-align="center center">
        <h3>Total de tickets : {{vm.tickets.length}}</h3>
    </md-card>
    <md-card style="height: 150px;" layout-padding layout-align="center center">
        <h3>Tickets à traiter : {{vm.ticketsToDeal.length}}</h3>
    </md-card>
    <md-card style="height: 150px;" layout-padding layout-align="center center">
        <h3>Tickets non lus : {{vm.ticketsNotRead.length}}</h3>
    </md-card>
</div>
<div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>
