<div layout="row" layout-wrap style="margin-right: 80px;">
    <ui-view flex="100"></ui-view>
    <div flex="100" data-ng-show="vm.tickets">
        <md-card>
            <md-data-table-toolbar>
                <md-select class="md-accent" ng-model="vm.filter" aria-label="select filter" data-md-on-close="vm.filterTickets()">
                    <md-option data-ng-repeat="filter in vm.filters" class="md-accent" value="{{filter}}">
                        {{filter}}
                    </md-option>
                </md-select>
                <md-select data-ng-show="vm.filter === 'Tickets par statut'" class="md-accent" ng-model="vm.status" aria-label="select status" data-md-on-close="vm.filterTickets()">
                    <md-option data-ng-repeat="status in vm.module.status" class="md-accent" value="{{status.name}}">
                        {{status.name}}
                    </md-option>
                </md-select>
                <div flex>
                </div>
                <md-button class="md-accent" data-ui-sref="main.modulesStats({id: vm.module.$id})">
                    {{ 'HOME_PAGE_MODULES_STAT_CPM' | translate }}
                </md-button>
                <md-button class="md-accent" data-ng-click="vm.openCreateTicket($event)">
                    {{ 'TICKET_CREATE' | translate }}
                </md-button>
            </md-data-table-toolbar>

            <md-data-table-container>
                <table md-data-table>
                    <thead md-order="vm.query.order">
                    <tr>
                        <th order-by="id" name="#"></th>
                        <th trim order-by="user.name" name="Nom"></th>
                        <th trim order-by="subject" name="Sujet"></th>
                        <th trim order-by="status" name="Statut"></th>
                        <th order-by="created" name="Date de Création"></th>
                        <th trim order-by="lastResponse" name="Dernière Réponse Par"></th>
                        <th trim order-by="{{key}}"
                            data-ng-repeat="(key, field) in vm.module.ticketFields"
                            name="{{field.name}}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ticket in vm.tickets | orderBy:vm.query.order | limitTo:vm.query.limit:((vm.query.page - 1) * vm.query.limit)"
                        data-ng-click="vm.openTicketView($event, ticket.$id)">
                        <td style="text-align:center">{{ticket.id}}</td>
                        <td style="text-align:center">{{ticket.user.name}}</td>
                        <td style="text-align:center">{{ticket.subject}}</td>
                        <td style="text-align:center">{{ticket.status}}</td>
                        <td style="text-align:center">{{ticket.created | amCalendar}}</td>
                        <td style="text-align:center">{{ticket.lastResponse}}</td>
                        <td data-ng-repeat="(key, field) in vm.module.ticketFields" style="text-align:center">
                            <div data-ng-if="field.type !== 'dropdouble'">
                                {{ticket[key]}}
                            </div>
                            <div data-ng-if="field.type === 'dropdouble'">
                                {{ticket[key].first + ' - ' + ticket[key].second}}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-data-table-container>

            <md-data-table-toolbar layout-align="end" fix-bottom update-func="vm">
                <md-data-table-pagination md-label="vm.label" md-limit="vm.query.limit" md-page="vm.query.page"
                                          md-row-select="vm.query.rowSelect" md-total="{{vm.tickets.length}}">
                </md-data-table-pagination>
            </md-data-table-toolbar>
        </md-card>
    </div>
    <div data-ng-hide="vm.tickets" layout-fill layout="row" layout-align="center" style="padding-top: 50px;">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
<md-fab-speed-dial class="fab md-scale" data-md-direction="up">
    <md-fab-trigger>
        <md-button aria-label="search" data-ui-sref="main.modules.search({id: vm.moduleId})" class="md-fab accent">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_SEARCH' | translate }}
            </md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions data-ng-if="vm.admin">
        <md-button aria-label="group-settings" data-ui-sref="main.modules.edit({id: vm.moduleId})"
                   class="md-fab md-raised md-mini">
            <md-tooltip data-md-direction="left">
                {{ 'TICKET_BUTTON_EDIT' | translate }}
            </md-tooltip>
            <md-icon style="color: #808080;">settings</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
