<md-dialog flex="66">
    <md-dialog-content layout="column" style="padding: 0;">
        <md-content>
            <div flex layout="row" layout-wrap style="padding: 20px;" layout-padding>
                <div flex="100">
                    <span class="md-subhead">Sujet :</span>
                    <h5>{{ vm.ticket.subject }}</h5>
                    <md-divider></md-divider>
                </div>
                <div flex="50" data-ng-repeat="(key, field) in vm.module.ticketFields">
                    <span class="md-subhead">{{field.name}} :</span>
                    <h5 data-ng-if="field.type !== 'dropdouble'">{{ vm.ticket[key] }}</h5>
                    <h5 data-ng-if="field.type === 'dropdouble'">{{ vm.ticket[key].first + ' - ' + vm.ticket[key].second }}</h5>
                    <md-divider></md-divider>
                </div>
                <div flex="100">
                    <span class="md-subhead">Description :</span>
                    <h5 flex style="padding: 0 8px">{{ vm.ticket.description }}</h5>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex style="overflow-x: hidden;">
                <md-list data-ng-show="vm.ticket.messages.length > 0">
                    <md-subheader class="md-no-sticky">{{ vm.ticket.messages.length }} réponse(s)</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="message in vm.ticket.messages" style="padding: 0; margin-left:16px;">
                        <div class="md-list-item-text">
                            <h3>{{ message.author.name }}</h3>

                            <p style="white-space: pre;">{{ message.content }}</p>
                            <md-divider data-ng-if="!$last"></md-divider>
                        </div>
                    </md-list-item>
                </md-list>
                <div layout="row">
                </div>
            </div>
        </md-content>
        <md-divider></md-divider>
    </md-dialog-content>
    <div class="md-actions" layout-padding>
        <md-input-container flex>
            <label>Rédiger une réponse</label>
            <textarea md-no-autogrow data-ng-model="vm.newMessage" type="text" columns="1" title="nouveau message"></textarea>
        </md-input-container>
        <md-button class="md-accent md-raised" data-ng-click="vm.sendMessage()">Envoyer</md-button>
        <md-button type="button" data-ng-click="vm.cancel()">Fermer</md-button>
    </div>
</md-dialog>
